template(name="widget")
  with widget
    .widget.container
      .row
        .col-xs-12.col-md-6
          .panel.panel-default
            .panel-heading
              h4 Step 1. Customize your widget
            .panel-body
              form
              .form-group
                +input(family="widget" _id=_id property="name" value=name placeholder="Widget name" isNew=isNew)
              .form-group
                +input(family="widget" _id=_id property="label" value=label placeholder="I wish this page" isNew=isNew)
              .form-group
                +input(family="widget" _id=_id property="placeholder" value=placeholder placeholder="had better graphics" isNew=isNew)
              .form-group
                .input-group
                  span.input-group-btn.btn-group-sm
                    button.btn.btn-default.fa.fa-paper-plane(class="{{#if condition buttonIcon 'is' 'fa fa-paper-plane'}}active{{/if}}")
                    button.btn.btn-default.fa.fa-check(class="{{#if condition buttonIcon 'is' 'fa fa-check'}}active{{/if}}")
                    button.btn.btn-default.fa.fa-reply(class="{{#if condition buttonIcon 'is' 'fa fa-reply'}}active{{/if}}")
                    button.btn.btn-default.fa.fa-rocket(class="{{#if condition buttonIcon 'is' 'fa fa-rocket'}}active{{/if}}")
                    button.btn.btn-default(style="margin-right:10px; max-width:inherit;" class="{{#if condition buttonIcon 'is' ''}}active{{/if}}") Text only
                  input.form-control(placeholder="Button text")
              .form-group
                +textarea(family="widget" _id=_id property="css" value=css placeholder="Custom CSS" rows="6" isNew=isNew)
        .col-xs-12.col-md-6
          .panel.panel-default
            .panel-heading
              h4 Step 2. Install on your site
            .panel-body
              .preview.well.well-lg
                // Add scaling if possible
                | {{{html}}}
              form(role="form")
              .form-group
                textarea.code-textarea.form-control(rows="4" readonly="readonly") {{html}}
              button.btn.btn-success.copy-to-clipboard(type="button") Copy to clipboard
              | &nbsp; and paste on your site
